In [1]:
import pandas as pd
df1 = pd.read_parquet("/home/gxu21/dalle-mini/cs269/src/small_encoded_data/train/150.parquet")

In [2]:
df1.iloc[20:30]

,caption,encoding
20,a photo of volcanic eruption,"[1268, 14793, 5919, 14447, 1268, 10689, 15630,..."
21,a photo of collapsed pier,"[10529, 9345, 10553, 10362, 4644, 6933, 10508,..."
22,a photo of fog on ocean coast,"[2683, 9296, 194, 432, 12566, 1270, 1872, 9514..."
23,a photo of desert road,"[1270, 9889, 4301, 4301, 1024, 11492, 4301, 11..."
24,a photo of snow covered snowfield,"[6601, 7896, 12927, 12480, 15910, 1139, 14839,..."
25,a photo of earthquake at gas station,"[4704, 3168, 4483, 5201, 13513, 9117, 8026, 19..."
26,a photo of dust sand storm and fog in desert,"[6092, 12623, 12016, 5900, 15739, 14933, 14164..."
27,a photo of fire on highway in forest,"[13769, 11610, 7191, 12143, 7372, 12145, 3379,..."
28,a photo of heavy rainfall on river,"[6271, 8408, 9957, 12672, 13586, 14473, 12124,..."
29,a photo of flooded river,"[8517, 1024, 1850, 14059, 271, 9183, 5960, 506..."

In [10]:
!pwd

/home/gxu21/dalle-mini/cs269/src

In [ ]:
'/home/gxu21/dalle-mini/cs269/src/aug_encoded_data/train/001.parquet'